@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #canvas {
        height: 100%;
        width: 100%; 
        position: absolute;
        z-index: 1; 
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            font-family: 'Poppins', sans-serif;
            text-align: center;
            background-color: black;
        }

        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px;
            flex-direction: row;
        }

        .container .box {
            position: relative;
            width: 400px;
            height: 90px;
            background-color: red;
            margin: 20px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container .box::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(315deg,#4dff03,#00d0ff);
        }

        .container .box::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(315deg,#4dff03,#00d0ff);
            filter: blur(30px);
        }

        .container .box-1::before, 
        .container .box-1::after {
            background: linear-gradient(45deg,#ffbc00,#ff0058);
        }

        .container .box-3::before, 
        .container .box-3::after {
            background: linear-gradient(315deg,#33f403,#ec0206);
        }
    
        .container .box-2::before, 
        .container .box-2::after {
            background: linear-gradient(315deg,#03a9f4,#ff0053);
        }
        .container .box-5::before, 
        .container .box-5::after {
            background: linear-gradient(45deg,#dd00ff,#173b9f);
        }

        .container .box a {
            position: absolute;
            inset: 6px;
            background:rgb(0,0,0,0.6);
            z-index: 2;
            opacity: 0.25;
            transition: 0.5s;
            font-size: 1.1em;
            color: rgb(255, 237, 237);
            text-decoration: none;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .container .box:hover a {
            scale: 0.9;
            opacity: 0.9;
        }

        .container .intro {
            flex-basis: 100%;
            height: 150px;
            color: #f0e3e3;

        }
        
        .container .intro h1{
            font-weight: bolder;
            font-size: 50px;
            margin-bottom: 20px;
        }
        
